/************ Reset CSS ************/

html {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


/************ Custom Style ************/
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background: #292929;
  padding: 1rem;
  color: #fff;
}

.header-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.main-container {
  flex-grow: 1;
  padding: 1em;
}

.title-2 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: #606060;
}

.title-1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #bababa;
}

.button {
  background-color: #292929;
  border: none;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-variant: all-small-caps;
  transition-property: background-color;
  transition-duration: .2s;

  &:hover {
    background-color: #454545;
  }

  &:active {
    background-color: #616161;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  color: #fff;
  padding: .5em 1em;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-main-container {
  flex-grow: 1;
}
