/************ Reset CSS ************/

html {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

ul, li, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}


/************ Custom Style ************/
.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background: #292929;
  padding: 1rem;
  color: #fff;
}

.header-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.main-container {
  flex-grow: 1;
  padding: 1em;
}

.title-2 {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: #606060;
}

.title-1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #bababa;
}

.button {
  background-color: #292929;
  border: none;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-variant: all-small-caps;
  transition-property: background-color;
  transition-duration: .2s;

  &:hover {
    background-color: #454545;
  }

  &:active {
    background-color: #616161;
  }
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  color: #fff;
  padding: .5em 1em;
}

/* Todo Style */
.todo-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  padding: .5rem;
  border-bottom: 1px solid #606060;
}

.todo-id {
  color: #8c8c8c;
  font-size: 1.25rem;
}

.todo-status {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #8c8c8c;
  border-radius: 2px;

  &.todo-completed {
    background-color: #6ac342;
  }
}

.todo-button-more-container {
  margin-top: 1rem;
  text-align: center;
}

/* Dashboard */
.dashboard-wrapper {
  display: grid;
  grid-template-columns: 140px 1fr;
  min-height: calc(100vh - 53px);
}

.navbar-container {
  background-color: #f4f4f4;
}

.dashboard-main-container {
  padding: 2rem;
}


/* Input container */
.input-container {
  display: grid;
  gap: .2rem;
}

.input-textarea {
  min-height: 70px;
  resize: vertical;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: .5rem;
  transition-duration: .2s;
  transition-property: background-color, border-color;

  &:hover {
    border-color: #8c8c8c;
  }

  &:focus {
    background-color: #fff;
    border-color: #8c8c8c;
    outline: none;
  }
}

.dashboard-form {
  display: grid;
  gap: .5rem;
}


/* Note */
.notes-container {
  margin-top: 3rem;
  display: grid;
  gap: .5rem;
}

.note-container {
  padding: .5rem;
  background-color: #f4f4f4;
  border-radius: 4px;
}

.note-date {
  text-align: right;
  color: #8c8c8c;
}
